.ftp-category {
  margin-bottom: 0;
}

.ftp-category label {
  text-transform: uppercase;
  margin-bottom: 0;
}

.ftp-category-rating-trn {
  margin: 0;
}

.form-check {
  display: flex;
  align-items: center;
}
