.clipboard-button {
  background-color: #1c2a3d;
  color: white;
}
.clipboard-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}
.forum-post-link-buttons {
  display: flex;
}
.forum-post-link-button-wrapper {
  flex: 1;
}
